In [9]:
import pandas as pd
df = pd.read_csv("foodbalancesheets_e_africa_noflag - Sheet1.csv", encoding="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [35]:
#select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
groupb = df.groupby("Area")["Y2017"].sum()
print ( "The highest is:", groupb.max())
print (groupb)

The highest is: 1483268.23
Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                  224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [60]:
# Print the groupby object
print(groupb)

# Extract the minimum value
min_value = groupb.min()

# Print the minimum value
print("The minimum value is:", min_value)

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                  224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64
The minimum value is: 0.0

In [12]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [27]:
#Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
groupe = df.groupby("Element")["Y2017"].sum()
groupe.sum()

8375729.1899999995

In [31]:
#Stock
df.groupby('Element')[["Y2014","Y2015", "Y2016", "Y2017", "Y2018"]].sum().max()

Y2014    1996716.35
Y2015    2021493.55
Y2016    2044842.70
Y2017    2088198.10
Y2018    2161192.10
dtype: float64

In [42]:
df_highest = df.groupby("Area")["Y2017"].sum()
dfh = df_highest.max()
dfh

1483268.23

In [49]:
df.groupby("Area")["Y2015"].sum()

Area
Algeria                         324058.40
Angola                          209565.67
Benin                           108181.13
Botswana                         23024.85
Burkina Faso                    102701.22
Cabo Verde                       14538.93
Cameroon                        225220.72
Central African Republic         28885.34
Chad                             65835.88
Comoros                             41.34
Congo                            40255.51
CÃ´te d'Ivoire                  211591.29
Djibouti                         23690.16
Egypt                           868218.73
Eswatini                         54072.07
Ethiopia                        429139.33
Ethiopia PDR                         0.00
Gabon                            28367.30
Gambia                           19665.39
Ghana                           311092.13
Guinea                           92803.39
Guinea-Bissau                    17990.06
Kenya                           265506.19
Lesotho                          17965.84
Liberia                          28698.10
Madagascar                      126674.90
Malawi                          167989.09
Mali                            132456.58
Mauritania                       61909.99
Mauritius                        53372.42
Morocco                         412473.80
Mozambique                      158231.17
Namibia                          30687.90
Niger                           117834.65
Nigeria                        1414362.83
Rwanda                           70138.83
Sao Tome and Principe            12386.93
Senegal                          91939.14
Seychelles                         358.20
Sierra Leone                     62523.14
South Africa                    468352.18
Sudan                           230652.54
Sudan (former)                       0.00
Togo                             47834.59
Tunisia                         128211.41
Uganda                          220615.72
United Republic of Tanzania     341969.46
Zambia                           96214.00
Zimbabwe                         74041.79
Name: Y2015, dtype: float64

In [52]:
madagascar_2015 = df[(df['Area'] == 'Madagascar'), (df['Y2015'] == 2015)]
# Get total Protein supply quantity
total_protein_supply = madagascar_2015['Protein Supply Quantity'].sum()

# Print the result
print(f"Total Protein Supply Quantity in Madagascar (2015): {total_protein_supply}")

InvalidIndexError: (0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Name: Area, Length: 60943, dtype: bool, 0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Name: Y2015, Length: 60943, dtype: bool)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB